<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
    <tr>
        <td width="200" aling="center">ID</td>
        <td width="200" aling="center">NAME</td>
        <td width="200" aling="center">COLOR</td>
        <td width="200" aling="center">PRICE</td>
        <td width="200" aling="center">EDIT</td>
        <td width="200" aling="center">DELETE</td>

    </tr>
    <% for(let i = 0; i < data.length; i++) { %>
    <tr>
        <td width="200">,<%= data[i].id %></td>
        <td width="200"><%= data[i].name %></td>
        <td width="200"><%= data[i].color %></td>
        <td width="200"><%= data[i].price %></td>
        <td width="200"><a href="/edit/<%= data[i].id %>">edit</a></td>
        <td width="200"><a href="/delete/<%= data[i].id %>">delete</a></td>
    <% } %>
    </table>
</body>
</html>
